/* Stylesheet of index.tsx */


html, body {
    user-select: none;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.scroll-content {
	overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}
