/* Stylesheet of OCRContainer.tsx */

.ocr_container {
    .flex_container {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

        .btn_container {
            width: 90%;
        }
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(min-width: 1024px) {
    .ocr_container {
        .flex_container {
            .btn_container {
                .label_container {
                    font-size: 18px;
                }

                .btn {
                    height: 46px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and(min-width: 1200px) {
    .ocr_container {
        height: 100%;

        .flex_container {
            .btn_container {
                width: 80%;
            }
        }
    }
}

@media screen and(min-width: 1920px) {
    .ocr_container {
        .flex_container {
            .btn_container {
                width: 60%;
            }
        }
    }
}