/* Stylesheet of PreviewContainer.tsx */

@import 'src/theme/shadow.scss';

.preview_container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .receipt {
        margin: 0;
        height: 90%;
        border-radius: 8px;

        /* box-shadow */
        box-shadow: $box-shadow;
        -webkit-box-shadow: $webkit-box-shadow;
        -moz-box-shadow: $moz-box-shadow;
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(max-height: 512px) {
    @media screen and(orientation: landscape) {
        .preview_container {
            display: none;
        }
    }
}