/* Stylesheet of PreviewContainer.tsx */

.preview_container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .receipt {
        margin: 0;
        height: 90%;
        border-radius: 8px;
    }
}