/* Stylesheet of HomePage.tsx */

@import 'src/theme/shadow.scss';

.content_container {
    --background: #f6f8f9;
    
    .grid_container {
        margin: 4px 0px 0px 0px;
        height: calc(100% / 2 - 62px);
        width: 100%;
    
        .row {
            height: 100%;
        }
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(max-height: 512px) {
    @media screen and(orientation: landscape) {
        .content_container {
            .grid_container {
                height: 100%;

                .row {
                    height: 90%;
                }
            }
        }
    }
}