/* Stylesheet of Sidemenu.tsx */

@import 'src/shared/animations/animation.scss';

.sidemenu_container {
    height: 100%;

    .content_container {
        height: 100%;
        // --background: var(--ion-color-primeColor);
        --background: url('/assets/img/menu-background.svg') center/cover;

        .wrapper_container {
            height: 90%;
    
            .list_container {
                background: transparent;
            
                .btn {
                    padding: 0px 8px 0px 0px;
                    margin: 0;
                    height: 54px;
                    text-transform: none;
                    --background: transparent;
                    --box-shadow: none;
                    --background-hover: rgba(119,204,218);
                    font-size: 16px;
                    --border-radius: 0px 32px 32px 0px;
            
                    .icon {
                        position: absolute;
                        left: 4px;
                        font-size: 28px;
                    }
            
                    .icon_active {
                        @extend .icon;
                        animation: rotating_icon $rotating_animation;
                    }
                }
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(min-width: 1200px) {
    .sidemenu_container {
        .content_container {
            .wrapper_container {
                .list_container {
                    .btn {
                        .icon {
                            left: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 1720px) {
    .sidemenu_container {
        .content_container {
            .wrapper_container {
                .list_container {
                    .btn {
                        .icon {
                            left: 24px;
                        }
                    }
                }
            }
        }
    }
}