/* Stylesheet of ModalContainerWrapper.tsx */

.grid_container {
    height: 100%;

    .row {
        height: 100%;

        .col {
            padding: 0;
            height: 100%;
        }
    }
}