/* animation.scss */

@keyframes rotating_icon {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

$rotating_animation: 1s ease-in-out infinite alternate;

@keyframes blinking {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

$dot1: 1.5s ease-in-out infinite;
$dot2: 1.5s 0.5s ease-in-out infinite;
$dot3: 1.5s 0.925s ease-in-out infinite;

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-32px);
    }
}

@keyframes slide-right {
    0% {
        transform: translate(-32px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

$left: 0.45s ease-in-out forwards;
$right: 0.45s ease-in-out forwards;
$trash: 0.25s ease-in-out forwards;

@keyframes slide-up {
    0% {
        transform: translateY(162px);
        display: none;
    }
    100% {
        transform: translateY(0);
        display: block;
    }
}

$toast: 0.5s ease-out;