/* animation.scss */

@keyframes rotating_icon {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(25deg);
    }
}

$rotating_animation: 1s ease-in-out infinite alternate;

@keyframes blinking {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

$dot1: 1.5s ease-in-out infinite;
$dot2: 1.5s 0.5s ease-in-out infinite;
$dot3: 1.5s 0.925s ease-in-out infinite;